{% extends "base.html" %}

{% block title %}Dodaj Ogłoszenie{% endblock %}

{% block content %}
<div class="container mt-3">
    <h3 class="text-center">Dodaj Ogłoszenie</h3>

    <form method="POST" action="{{ url_for('ogloszenia_bp.dodaj_ogloszenie') }}" class="mx-auto" style="max-width: 500px;">
        <div class="mb-3">
            <label for="tytul" class="form-label">Tytuł ogłoszenia</label>
            <input type="text" class="form-control w-75" id="tytul" name="tytul" required>
        </div>

        <div class="mb-3">
            <label for="opis" class="form-label">Region</label>
            <input type="text" class="form-control w-75" id="opis" name="opis" required>
        </div>

        <div class="mb-3">
            <label for="platforma" class="form-label">Platforma</label>
            <input type="text" class="form-control w-75" id="platforma" name="platforma" required>
        </div>

        <div class="mb-3">
            <label for="link" class="form-label">Link do ogłoszenia</label>
            <input type="url" class="form-control w-75" id="link" name="link" required>
        </div>

        <div class="mb-3">
            <label for="data_publikacji" class="form-label">Data publikacji</label>
            <input type="date" class="form-control w-75" id="data_publikacji" name="data_publikacji" required>
        </div>

        <div class="mb-3">
            <label for="data_wygasniecia" class="form-label">Data wygaśnięcia</label>
            <input type="date" class="form-control w-75" id="data_wygasniecia" name="data_wygasniecia" required>
        </div>

        <button type="submit" class="btn btn-primary">Dodaj Ogłoszenie</button>
    </form>
</div>
{% endblock %}
