{% extends "base.html" %}

{% block title %}Dodaj Spotkanie{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Dodaj Spotkanie</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="kandydat_id" class="form-label">Kandydat:</label>
            <select name="kandydat_id" id="kandydat_id" class="form-control">
                {% for kandydat in kandydaci %}
                <option value="{{ kandydat.id }}">{{ kandydat.imie }} {{ kandydat.nazwisko }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="data" class="form-label">Data Spotkania:</label>
            <input type="datetime-local" name="data" id="data" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="opis" class="form-label">Opis:</label>
            <textarea name="opis" id="opis" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Dodaj Spotkanie</button>
        <a href="{{ url_for('terminarz_bp.lista_spotkan') }}" class="btn btn-secondary">Anuluj</a>
    </form>
</div>
{% endblock %}
